@CHARSET "UTF-8";
/* CSS Document */
body {
	background-color: black;
}

input[type='button'],input[type='submit'] {
width: 120px;
height: 30px;
font-size: 14px;
font-family: Verdana;
}
#b_close {
	position:absolute;
	right:20px;
	bottom:0;
}

#b_ok {
	position:absolute;
	left:20px;
	bottom:0;
}


table {
	width:100%;
}
td {
	vertical-align:top;
	text-align:left;
	border: 1px solid black;
	
}
#log_time {
	width:12%;
}
#log_ip {
	width:5%;
}
#log_doc {
	width:50%;
}
#tr_h1 {
	
	background-color: #184613;
}

div.table {
	background-color: green;
 	border: black 2px solid;	
}
div.str, div.str-sub {

  	width: 98%;
 	display: table;
 	
 	
}
div.str-sub {
display: none;	
}

	
div.cel-30, div.cel-20 {
  display: table-cell !important;
  display: inline; /* для IE */
  
}
div.cel-30 {
	width: 30%;
	
}
div.cel-20 {
	width: 20%;

}





#main { 
    background-color: #0066CC; 
    height:100%;
    position:relative;

}
#bottom, #top, #menu, #sub-menu {
    position:absolute;
    width:100%;

}
#bottom, #top {
		background-color: #184613;
}
#top {
    top:0;
    height:10%;
}
#bottom {
    bottom:0;
    height:5%;
}
#menu {
	height:50%;
	bottom:0;
	background-color: red;
	
}


#sub-menu {
	height:50%;
	top:0;
	background-color: red;
	
}


#center {
	position: fixed;
    top:12%;
    left:1%;
    
    height:81%;
    overflow-y:scroll;
    overflow-x:auto;
	background-color: green;
	width:98%;
}

#div_test {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: red;
	
	
}




/* Контейнер */
.modal {

/* Слой перекрытия */
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,5);
z-index: 10000;

/* Трансформации прозрачности при открытии  
-webkit-transition: opacity 500ms ease-in;
-moz-transition: opacity 500ms ease-in;
transition: opacity 500ms ease-in;*/

/* Скрываем изначально */
opacity: 0;
pointer-events: none;
}

/* Показываем модальное окно */
.modal:target {
opacity: 1;
pointer-events: auto;
}

/* Содержание */
.modal > div {
height:500px;
width: 600px;
background: #fff;
position: relative;
margin: 10% auto;

/* По умолчанию минимизируем анимацию 
-webkit-animation: minimise 500ms linear;*/

/* Придаем хороший вид 
padding: 30px;
-moz-border-radius: 7px;
border-radius: 7px;
-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
-moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
box-shadow: 0 3px 20px rgba(0,0,0,0.9);
background: -moz-linear-gradient(#fff, #ccc);
background: -webkit-gradient(linear, right bottom, right top, color-stop(1, rgb(255,255,255)), color-stop(0.57, rgb(230,230,230)));
text-shadow: 0 1px 0 #fff;*/
}

/* Изменяем анимацию при открытии модального окна
.modal:target > div {
-webkit-animation-name: bounce;*/
}

.modal h2 {
font-size: 36px;
padding: 0 0 20px;
}
/*
@-webkit-keyframes bounce {
  0% {
  	-webkit-transform: scale3d(0.1,0.1,1);
  	-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
  	-webkit-transform: scale3d(1.08,1.08,1);
  	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
  	-webkit-transform: scale3d(0.95,0.95,1);
  	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
  	-webkit-transform: scale3d(1,1,1);
  	-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}

@-webkit-keyframes minimise {
  0% {
  	-webkit-transform: scale3d(1,1,1);
  }
  100% {
  	-webkit-transform: scale3d(0.1,0.1,1);
  }
}
*/
/* Ссылка на кнопку Закрыть */
.modal a[href="#close"] {
position: absolute;
right: 0;
top: 0;
color: transparent;
}

/* Сбрасываем изменения */
.modal a[href="#close"]:focus {
outline: none;
}

/* Создаем кнопку Закрыть */
.modal a[href="#close"]:after {
content: 'X';
display: block;

/* Позиционируем */
position: absolute;
right: -10px;
top: -10px;
width: 1.5em;
padding: 1px 1px 1px 2px;

/* Стили */
text-decoration: none;
text-shadow: none;
text-align: center;
font-weight: bold;
background: #000;
color: #fff;
border: 3px solid #fff;
-moz-border-radius: 20px;
border-radius: 20px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.modal a[href="#close"]:focus:after,
.modal a[href="#close"]:hover:after {
-webkit-transform: scale(1.1,1.1);
-moz-transform: scale(1.1,1.1);
}

.modal a[href="#close"]:focus:after {
outline: 1px solid #000;
}

/* Открываем модальное окно */
a.openModal {
margin: 1em auto;
display: block;
width: 200px;
background: #ccc;
text-align: center;
padding: 10px;
-moz-border-radius: 7px;
border-radius: 7px;
background: -moz-linear-gradient(#fff, #ddd);
background: -webkit-gradient(linear, right top, right bottom, from(rgb(255,255,255)), to(rgb(230,230,230)));
text-shadow: 0 1px 0 #fff;
border: 1px solid rgba(0,0,0,0.1);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
/*
a.openModal:hover,
a.openModal:focus {
background: -moz-linear-gradient(#fff, #ccc);
background: -webkit-gradient(linear, right top, right bottom, from(rgb(255,255,255)), to(rgb(200,200,200)));
}
*/







